*,
*::before,
*::after {
    box-sizing: border-box;
}

button:hover,
.profile-links:hover {
    box-shadow: 0px 0.1em 0.2em rgb(58, 58, 58 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

button:active,
.profile-links:active {
    box-shadow: inset 0px 0.1em 0.6em #19191a;
    transform: translateY(0em);
}

.container {
    border: 2px solid rgb(33, 83, 145);
    display: flex;
    height: 100vh; 
}
.scrollable {
    width: 100%;
    overflow: auto;
    gap: 0.5rem;
}
.sidebar {
    max-width: 260px; 
    border-right: 1px solid rgb(203, 213, 225);
    background-color: green;
}
.main-content {
    flex: 1; /* Takes up remaining space */
}

/* --------------------------SIDEBAR-------------------------- */

.sidebar {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-content {
    max-width: 250px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------------PROFILE-------------------------- */

.profile {
    padding: 10px;
    width: 230px;
    height: auto;
    border-radius: 2em;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
        -5px -5px 30px rgb(57, 57, 57);
}

.profile img {
    display: flex;
    margin: 35px auto 10px auto;
    width: 125px;
    height: 125px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 99;
    overflow: hidden;
    border-width: 3px;
    border-color: #d17842;
}

.profile:hover img {
    transform: scale(1.2) translateY(-30px);
}

.profile-name {
    color: #f0f0f0;
    font-size: 32px;
    margin-top: 10px;
    font-style: oblique;
    text-align: center;
}

.profile-title {
    color: #7a6b6b;
    font-size: 16px;
    font-style: oblique;
    text-align: center;
}

.profile-socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #191919;
    border-radius: 3em;
    width: 90%;
    padding: 8px;
    margin-top: 15px;
    color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
        -3px -3px 15px rgb(58, 58, 58);
}

/* --------------------------SOCIALS-------------------------- */

.profile-links {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 3em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

#github:hover {
    fill: aliceblue;
}

#linkedin:hover {
    fill: rgb(100, 149, 192);
}

#facebook:hover {
    fill: rgb(20, 39, 146);
}

/* -----------------------CONTACT_INFO------------------------ */

.contact-info {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    border-radius: 1em;
    padding: 16px;
    margin-top: 15px;
    width: 220px;
    border: 1px solid #f0f0f0;
    align-items: start;
}

.contact-info-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;

    svg {
        align-self: center;
        margin-bottom: 5px;
    }
}

.contact-info-item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f0f0;

    .label {
        font-size: 12px;
        color: #f0f0f0;
    }

    .value {
        font-size: 16px;
        color: #6d6b6b;
    }
}

.contact-info-items:hover {
    border-radius: 10px;
    background-color:  #3b3a3a;
    cursor: pointer;
    transform: (1.05);
}

/* ---------------------DOWNLOAD RESUME----------------------- */

.download-resume {
    cursor: pointer;
    background-color: #191919;
    border-radius: 3em;
    width: 90%;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 12px;
    color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
        -3px -3px 15px rgb(58, 58, 58);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------MAIN CONTENT------------------------------------------------ */

.section-title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

/* --------------------------NAVEGATION BAR------------------------ */

.navbar {
    margin-top: 15px;
    position: sticky;
    width: 100%;
    min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-links {
    display: flex;
}

.navbar-item {
    padding: 8px 8px;
    transition: all 200ms;
    display: inline-block;
}

.navbar-item input[type="radio"] {
    display: none;
}

.navbar-item>svg {
    transition: all 200ms;
    fill: #aeaeae;
    width: 64px;
}

.navbar-item:hover:not(:has(input:checked))>svg {
    fill: #d17842;
    opacity: 0.6;
}

.navbar-item::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 20px;
    background: #d17842;
    transition: all 200ms;
}

.navbar-item>svg {
    transition: 300ms;
    fill: #52555a;
    margin-top: 0;
}

.navbar-item:has(input:checked)>svg {
    fill: #d17842;
    scale: 1.2;
    margin-top: -5px;
}

.navbar-item:has(input:checked)::before {
    width: 100%;
    left: 0;
    top: 25px;
}

.navbar-toggle {
    display: none;
}

/* --------------------------PORTFOLIO-------------------------- */

.portfolio {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: auto;
    border-radius: 1.5em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
        -5px -5px 30px rgb(57, 57, 57);
}

/* --------------------FILTERS----------------- */

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: 4%;
    margin-top: 10px;
}

.filters select {
    padding: 5px;
    border-radius: .65em;
    border: 1px solid #52555a;
    background-color: #52555a;
    color: #333;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filters select:hover {
    border-color: #d17842;
    background-color: #d17842;
}

.filters select:focus {
    outline: none;
    border-color: #d17842;
    box-shadow: 0 0 5px rgba(255, 174, 0, 0.5);
}

/* ----------------------------WORKS--------------------------- */

.work-box {
    width: 90%;
    align-self: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;

}
.work-item {
    width: 200px;
    height: 350px;
    margin-top: 12px;
    align-self: center;
    border-radius: 20px;
    background: #333;
    box-shadow: 5px 5px 12px rgb(4, 4, 4),
        -5px -5px 12px rgba(57, 57, 57, 0.651);
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    overflow: hidden;
}

.work-item:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.work-item img {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: inherit;
    object-fit: cover;
}

.work-item h1 {
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    margin: 4px 0;
}

.work-item h2 {
    margin: 5px 0 1px;
    font-size: 12px;
    font-weight: 700;
}

.work-item-descr{
    padding: 0 15px 10px;
}

.work-item b {
    color: #ffc426
}

.work-item p {
    margin: 2px 0 0;
    text-align: left;
    font-size: 11px;
    font-weight: 300;
}

.work-item svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: #dbcbcb;
    cursor: pointer;
}
  
.work-item-links {
    margin: 0 0 7px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
  
.work-item-links .link {
    color: #dfcdcd;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}
  
.work-item-links:hover .link:hover {
    text-decoration: wavy;
    color: #d17842;
}

.work-item-tags {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.25rem;
}

.work-item-tags span {
    white-space: nowrap; 
    border-radius: 9999px; 
    background-color: #181717;
    padding: 2px 10px; 
    font-size: 12px; 
    color: #5a5a5a;
}

/* -------------------------------RESUME------------------------------- */

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    border-radius: 1.5em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
        -5px -5px 30px rgb(57, 57, 57);
}

.resume-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    border-radius: 1.5em;
    padding: 10px;
    background-color: #191919;
}

.resume-item {
    width: 100%;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    background-color: #191919;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
        -3px -3px 15px rgb(58, 58, 58);
}

.resume-item:hover {
    cursor: pointer;
    transform: scale(1.05) translate3d( 0, 0, 0);
}

.resume-item img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
}

.resume-item-text-box {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.resume-item-text-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-item span {
    font-size: 10px;
}

.resume-item h1 {
    font-size: 14px;
    font-weight: bold;
}

.resume-item p {
    margin-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

@media screen and (max-width: 400px) {
    .resume {
        flex-direction: column;
    }

    .resume-item {
        flex-direction: column;
    }
    .resume-item-text-box p {
        display: none;

    }
    
}

/* -------------------------------ABOUT------------------------------- */

.about {
    width: 98%;
    height: auto;
    border-radius: 1.5em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
        -5px -5px 30px rgb(57, 57, 57);
}


.about-content {
    display: flex;
    flex-direction: column;
}

.about-content p {
    margin: 0 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 15px;
}

/* -------------------------------------------MEDIA QUERIES-------------------------------------------------------------- */

@media screen and (max-width: 448px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: inherit;
        border-right: none;
    }

    .sidebar-content {
        width: 95%;
        border-right: none;
    }

    .container {
        height: fit-content;
    }

    .scrollable {
        overflow: visible;
    }

    .navbar {
        order: 0;
        position: relative;
        background-color: transparent;
    }

    .navbar-toggle {
        display: block;
        background: none;
        border: none;
        color: rgb(29, 155, 13);
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
    }

    
}